@import url('./fonts.css');
@import url('./colors.css');
@import url('./theme.css');
@import url('./buttons.css');

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: var(--ct-primary);
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: var(--font-sans-serif);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ct-light);
}

:root{
  --bw: 1px;
  --bs: solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif) !important;
}
/* headers */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}

#app {
  width: 100%;
  height: 100%;
}